textarea {
    min-height: 400px;
}

.email
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: 1px auto 1px;
    border: 1px solid black;
    width: 100%;
}

.email-left
{
    width: 28%;
    text-align: center;
}

.email-left ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    margin: 0 auto;
    padding: 0;
    list-style-type: none
}

.email-left ul li p
{
    margin: 0 auto;
}

.email-right p 
{
    margin: 0 auto;
}

.content
{
    padding: 0;
    list-style-type: none;
    margin: 0 auto;
}

.content-header p
{
    margin: 0;
}







